body,
* {
	margin: 0;
	padding: 0;
	color: rgb(212, 211, 211);
	font-family: "Releway", Helvetica, sans-serif;
}

body {
	background-color: rgb(20, 20, 20);
}

.row {
	margin: 0 0;
}

p {
	padding-bottom: 10px;
}

/* NAVBAR */
.navbar {
	background-color: rgb(14, 10, 10);
	font-weight: 400;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	border-bottom: 1px solid rgb(148, 21, 80);
}

.dropdown-menu>a:hover {
	color: rgba(255, 255, 255, 1) !important;
}

/* SLIDER */
#slideshow {
	width: 100%;
	height: 70vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

slider {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

slider>* {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	animation: slide 12s infinite;
	overflow: hidden;
}

slide:nth-child(1) {
	left: 0%;
	background-image: url(../img/1.jpg);
	background-size: cover;
	background-position: center;
}

slide:nth-child(2) {
	animation-delay: 4s;
	background-image: url(../img/3.jpg);
	background-size: cover;
	background-position: center;
}

slide:nth-child(3) {
	left: 0%;
	animation-delay: 8s;
	background-image: url(../img/2.jpg);
	background-size: cover;
	background-position: center;
}

@keyframes slide {

	0% {
		left: 100%;
		width: 100%;
	}

	5% {
		left: 0%;
	}

	33.4% {
		left: 0%;
	}

	38.4% {
		left: -100%;
		width: 100%;
	}

	38.4001% {
		left: -100%;
		width: 0%;
	}

	100% {
		left: 100%;
		width: 0%;
	}
}

/* LOGO */
.logo {
	position: absolute;
	top: 20vh;
	left: 20vw;
	z-index: 3;
	text-transform: uppercase;
	color: white;
	background-color: rgba(7, 7, 7, 0.384);
	padding: 10px 15px;
	animation: logo 12s infinite;
	opacity: 0;
}

.logo:nth-of-type(2) {
	animation-delay: 4s;
}

.logo:nth-of-type(3) {
	animation-delay: 8s;
}

@keyframes logo {
	0% {
		opacity: 0;
	}

	3% {
		opacity: 0;
	}

	6% {
		opacity: 1;
	}

	27% {
		opacity: 1;
	}

	30% {
		opacity: 0;
	}

	33.33% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

/* CONTENT */
.wrapper {
	overflow: hidden;
	margin: 0 auto;
	z-index: 2;
	margin-top: 70vh;
	margin-bottom: 0;
	padding-left: 60px;
	padding-right: 60px;
	background-color: rgb(20, 20, 20);

}

section {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

.description {
	min-height: 30vh;
	font-size: 24px;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	position: relative;
}

.description>div {
	color: rgb(157, 176, 179);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	font-style: oblique;
}

h3 {
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 35px;
	padding-top: 35px;
	text-align: center;
}

.underline {
	width: 30px;
	margin: 4px auto auto;
	border-bottom: 2px solid;
	display: block;
}

.news {
	background-color: rgb(37, 37, 37);
	box-shadow: black 5px;
	border-radius: 10px;
	margin: 20px 20px;
	color: #656669;
	box-shadow: 0px 0px 35px -5px rgba(0, 0, 0, 0.75);
	padding: 15px;
	position: relative;
	min-width: 350px;
	box-sizing: border-box;
	overflow: hidden;
}

.pinkbtn {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: rgb(148, 21, 80);
	border: 2px rgb(148, 21, 80) solid;
	border-radius: 0;
}

.pinkbtn:hover {
	background-color: rgb(116, 16, 63);
	border-color: rgb(116, 16, 63);
}

.group {
	margin: 0 20px;
}

.group-title {
	width: 100%;
	min-height: 50px;
	border-bottom: 1px solid rgb(110, 156, 58);
	cursor: pointer;
	padding: 10px 10px;
	margin-top: 5px;
}

.group-title>h4 {
	color: rgb(167, 165, 165);
	transition: all 0.2s;
}

.group-title:hover>h4 {
	color: rgb(224, 240, 198);
	padding-left: 30px;
}

.group-clicked>h4 {
	color: rgb(224, 240, 198);
}

.group-descr {
	display: none;
	padding: 15px 15px;
	background-color: #3c3c3b;
	color: #dbdada;
}

.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	margin: 20px 0;
	box-sizing: border-box;
}

.video-responsive>iframe {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	max-width: 798px;
	max-height: 449px;
}

/* KONTAKT */
.wrappContact {
	width: 100%;
	background-color: rgb(37, 37, 37);
	background: linear-gradient(145deg, rgb(37, 37, 37) 0%, rgb(54, 64, 88) 100%);
	padding: 10px 20px;
	border-right: 1px solid #272727;
	box-sizing: border-box;
	overflow: hidden;
}

.wrappContact>p {
	font-size: 20px;
	margin-top: 20px;
}

.wrappContact i {
	font-size: 30px;
	padding: 0 10px;
}

form {
	padding: 15px;
}

.form-control {
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid rgb(110, 156, 58);
	color: #666;
	background-color: transparent;
	font-size: 15px;
	box-sizing: border-box;
	outline: none;
}

.form-control:focus {
	border-bottom: 1px solid rgb(110, 156, 58);
	background-color: transparent;
	color: #e6e6e6;
	outline: none;
	box-shadow: none;
}


textarea {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid rgb(110, 156, 58);
}

.footer {
	text-align: center;
	color: #656669;
	width: 100%;
	background-color: #000;
	padding: 10px;
	font-size: 15px;
}

@media(max-width:900px) {
	.description {
		font-size: 22px;
		width: 80%;
	}
}

@media(max-width:750px) {
	.news {
		min-width: 100%;
		margin: 10px 0px;
	}

	.group {
		margin: 0 0;
	}

	.description {
		font-size: 16px;
		width: 80%;
	}

	.wrapper {
		padding: 0 15px 15px 15px;
	}
}

@media(min-width:1000px) {
	.news {
		min-width: 450px;
	}
}

@media(min-width:798px) {
	.video-responsive {
		padding-bottom: 0px;
		min-height: 500px;
	}
}

@-webkit-keyframes autofill {
	to {
		color: #666;
		background: transparent;
	}
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}