body,
* {
	margin: 0;
	padding: 0;
	color: rgb(212, 211, 211);
	font-family: "Releway", Helvetica, sans-serif;
}

body {
	background-color: rgb(20, 20, 20);
}

[type="date"] {
	background-image: url(../img/calendar.svg);
	background-size: 5%;
	background-position: 97% 50%;
	background-repeat: no-repeat;
  }
  [type="date"]::-webkit-inner-spin-button {
	display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
	width: 5%;
  }

form {
	padding: 15px;
}

.form-control {
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid rgb(110, 156, 58);
	color: #666;
	background-color: transparent;
	font-size: 15px;
	box-sizing: border-box;
	outline: none;
}

.form-control:focus {
	border-bottom: 1px solid rgb(110, 156, 58);
	background-color: transparent;
	color: #e6e6e6;
	outline: none;
	box-shadow: none;
}

.form-login {
	background-color: rgb(37, 37, 37);
	box-shadow: black 5px;
	border-radius: 10px;
	margin: 0 0;
	color: #656669;
	box-shadow: 0px 0px 35px -5px rgba(0, 0, 0, 0.75);
	padding: 15px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
	overflow: hidden;
}

.lilhomebutton {
	float: right;
	margin: 10px 20px;
	display: inline;
}

@media screen and (min-height: 382px) {
	.form-login {
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.register-form {
	background-color: rgb(37, 37, 37);
	box-shadow: black 5px;
	border-radius: 10px;
	margin: 0 0;
	color: #656669;
	box-shadow: 0px 0px 35px -5px rgba(0, 0, 0, 0.75);
	padding: 15px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
	overflow: hidden;
}

.register-form2 {
	margin-top: 5%;
}

@media screen and (max-width: 500px) {
	.register-form2 {
		margin-top: 15%;
	}
}

.userpanel {
	margin-top: 15em;
}

@media screen and (max-width: 500px) {
	.userpanel {
		margin-top: 15%;
	}
}

option {
	background-color: rgb(37, 37, 37);
}

@media screen and (min-height: 700px) {
	.register-form {
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.title {
	margin: 10px 20px;
	display:inline;
}

@media screen and (min-width: 600px) {
	.form-control {
		width: 500px;
	}
}

@media screen and (min-width: 500px) and (max-width: 599px) {
	.form-control {
		width: 400px;
	}
}

@media screen and (max-width: 500px) {
	.form-control {
		width: 300px;
	}
}

.error {
	background-color: rgb(37, 37, 37);
	border-radius: 10px;
	margin: 20px 20px;
	color: #656669;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border: solid 2px rgb(155, 155, 155);
}

.error p {
	margin: 0;
}

.message {
	background-color: rgb(37, 37, 37);
	border-radius: 10px;
	margin: 20px 20px;
	color: #656669;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border: solid 2px rgb(155, 155, 155);
}

.message a {
	margin: 0;
	color: inherit;
	text-decoration: none;
	transition: all 0.5s;
}

.message a:hover:after {
    content: '\00bb';
}

.message a:hover {
	margin: 0;
	color: rgb(235, 235, 235);
	text-decoration: none;
	margin-left: 20px;
}

.account {
	background-color: rgb(37, 37, 37);
	border-radius: 10px;
	margin: 20px 20px;
	color: #656669;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border: solid 2px rgb(155, 155, 155);
}

.account p {
	margin: 0;
	max-width: 90%;
	display: inline-block;
	overflow: hidden;
	color: inherit;
}

.account span{
	display: inline;
	width: 100%;
}

.account:hover{		
	border: solid 2px rgb(148, 21, 80);
	cursor: pointer;
}

.account:hover p{
	color: rgb(148, 21, 80);
}

@-webkit-keyframes autofill {
	to {
		color: #666;
		background: transparent;
	}
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

.delete-error{
	margin-bottom: 30px;
	background: #bd2130;
	padding: 5px;
	padding-left: 15px;
	border: 1px solid #b21f2d;
	width: 100%;
}

.close-error{
	opacity: 0.8!important;
}

.close-error:hover{
	opacity: 1!important;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	color: rgb(148, 21, 80);
	width:100%;
}

.inputfile + label {
	border: 1px solid rgb(148, 21, 80);
	background-color: #ffffff;
	padding: 0;
	border-radius: 10px;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    border-color: rgb(148, 21, 80);
}

.inputfile + label span,
.inputfile + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile + label span {
	width: 50%;
	min-height: 2em;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: top;
	color:rgb(148, 21, 80);
}

.inputfile + label strong {
	width:50%;
	color: #ffffff;
	background-color: rgb(148, 21, 80);
	display: inline-block;
	text-align: center;
	border-radius: 10px;
}

@media screen and (max-width: 50em) {
	.inputfile + label strong {
		display: inline-block;
	}
}
