body,
* {
	margin: 0;
	padding: 0;
	color: rgb(212, 211, 211);
	font-family: "Releway", Helvetica, sans-serif;
}

body {
	background-color: rgb(20, 20, 20);
}

/* NAVBAR */
.navbar {
	background-color: rgb(14, 10, 10);
	font-weight: 400;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	border-bottom: 1px solid rgb(148, 21, 80);
}

.msg-menu{
	padding: 1rem;
	font-weight: 400;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
}

.msg-menu-item{
	border: none!important;
	padding: 5px 12px;	
}

.msg-menu-item .nav-link{
	color: rgb(180, 180, 180);
}

.msg-menu-item .nav-link:hover{
	color: rgb(255, 255, 255);
}

.active-msg-menu-item{
	color: rgb(255, 255, 255)!important;
}

.content{
	position: relative;
	top: 70px;
}

.background{
	background-color: rgb(37, 37, 37);
	border-radius: 10px;
}

.search-div{
	padding: 1rem;
}

.list-group-item{
	border-bottom: 1px solid rgb(110, 156, 58);
	color: rgb(180, 180, 180);
	background-color: transparent;
	font-size: 15px;
	box-sizing: border-box;
	outline: none;
}

@-webkit-keyframes autofill {
	to {
		color: #666;
		background: transparent;
	}
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

.form-control {
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid rgb(110, 156, 58);
	color: #666;
	background-color: transparent;
	font-size: 15px;
	box-sizing: border-box;
	outline: none;
}

.form-control:focus {
	border-bottom: 1px solid rgb(110, 156, 58);
	background-color: transparent;
	color: #e6e6e6;
	outline: none;
	box-shadow: none;
}

.left-part{
	max-width: 475px;
}

.right-part{
	max-width: 1010px;;
	height: 100%;
}

.msg-content{
	margin-top: 1rem;
}

#msg-form{
	padding: 20px 30px;
}

#nick{
	max-width: 500px;
}

.checkbox{
	margin-top: 1rem;
}

.checkbox label{
	color: rgb(180, 180, 180);
}

.list-group-item:hover{
	color: rgb(255, 255, 255);
	cursor: pointer;
	border-bottom: 1px solid rgb(148, 21, 80);
}

.msg-menu-item > .nav-link{
	border-bottom: 1px solid rgb(110, 156, 58);
}

.msg-menu-item > .nav-link{
	border-bottom: 1px solid rgb(110, 156, 58);
}

.msg-menu-item > .nav-link:hover{
	border-bottom: 1px solid rgb(148, 21, 80);
}

@media screen and (max-width: 767px){
	.left-part{
		margin-left: auto!important;
		margin-right: auto!important;
	}
}

#peopleList{
	max-height: 470px;
	overflow: auto;
}

.sent-error{
	margin-bottom: 30px;
	background: #bd2130;
	padding: 5px;
	padding-left: 15px;
	border: 1px solid #b21f2d;
	width: 100%;
	color: white;
}

.sent-success{
	margin-bottom: 10px;
	background: #5cb85c;
	padding: 5px;
	padding-left: 15px;
	border: 1px solid #4cae4c;
	width: 100%;
	color: white;
}

.close-info{
	opacity: 0.8!important;
}

.close-info:hover{
	opacity: 1!important;
}

.loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
 }

 /* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
 }

div.dataTables_wrapper {
	margin: 0 auto;
}

th, td { 
	background-color: rgb(37, 37, 37);
	border: none!important;
}

td{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: context-menu;
}

tbody td{
	border-bottom: solid 1px rgb(110, 156, 58)!important;
}

thead th{
	border-bottom: solid 1px rgb(110, 156, 58)!important;
}

.th-1{
	width: 152px!important;
	max-width: 152px!important;
}

.th-3{
	width: 85px!important;
	max-width: 85px!important;
}

tr{
	width: 100%;
}

.table-contener-received{
	width: 100%;
}

.msg-contener{
	padding-top: 1rem;
	margin: 20px 30px;
}

#received-messages_info{
	color: rgb(212, 211, 211);
}

table{
	width: 100%!important;
	border: none!important;
	table-layout: fixed;
}

.page-link{
	background-color: rgb(37, 37, 37)!important;
	color: white!important;
	border: 2px rgb(148, 21, 80) solid!important;
	border-radius: 0!important;
}

.sorting_1{
	background-color: rgb(37, 37, 37)!important;
	color: rgb(148, 21, 80);
}

.sorting_desc{
	color: rgb(148, 21, 80);
}

.sorting_asc{
	color: rgb(148, 21, 80);
}

.paginate_button:hover{
	background: rgb(116, 16, 63)!important;
}

.paginate_button:hover .page-link{
	border-color: rgb(116, 16, 63)!important;
}

select{
	color: rgb(212, 211, 211)!important;
}

option{
	color: rgb(212, 211, 211)!important;
	background-color: rgb(37, 37, 37)!important;
}

.date-small{
	float: right;
}

.msg-title{
	overflow: hidden;
	text-overflow: ellipsis;
}

.msg-message{
	overflow: hidden;
	text-overflow: ellipsis;
}

.msg-show{
	padding-bottom: 20px;
}

.msg-show div{
	border: none!important;
}

.date-small{
	font-size: 70%!important;
}

.arrow-received{
	padding-top: 20px;
	padding-left: 16px;
}